In [1]:
import pandas as pd
import numpy as np

In [4]:
# Read the Excel file
file_path = 'input_parameters_real.xlsx'

# Read the settings (time_limit, seed_number, nr, nl, m, block)
settings_df = pd.read_excel(file_path, sheet_name='Settings')
settings = settings_df.set_index('Parameter')['Value'].to_dict()

time_limit = int(settings['time_limit'])
seed_number = int(settings['seed_number'])
nr = int(settings['nr'])
nl = int(settings['nl'])
n = nr + nl
m = int(settings['m'])
block = int(settings['block'])

# Read the time_window matrix
time_window_df = pd.read_excel(file_path, sheet_name='Time_Window')
time_window_flat = time_window_df.values
time_window = time_window_flat.reshape((m, block*2))

In [5]:
time_window

array([[ 30, 270,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 30, 270,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 30, 270,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 30, 270,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 30, 270,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 30, 270,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 30, 270,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 30, 270,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 30, 270,   0,   0,   0,   0,   0,   0,   0,   0],
       [  0,   0,  30, 270,   0,   0,   0,   0,   0,   0],
       [  0,   0,  30, 270,   0,   0,   0,   0,   0,   0],
       [  0,   0,  30, 270,   0,   0,   0,   0,   0,   0],
       [  0,   0,  30, 270,   0,   0,   0,   0,   0,   0],
       [  0,   0,  30, 270,   0,   0,   0,   0,   0,   0],
       [  0,   0,  30, 270,   0,   0,   0,   0,   0,   0],
       [  0,   0,  30, 270,   0,   0,   0,   0,   0,   0],
       [  0,   0,  30, 270,   0,   0,   0,   0,   0,   0],
       [  0,   0,  30, 270,   0,   0,   0,   0,   0,   0],
       [  0,   0,   0,   0,  30, 270,   0,   0,   0,   0],
       [  0,   0,   0,   0,  30, 270,   0,   0,   0,   0],
       [  0,   0,   0,   0,  30, 270,   0,   0,   0,   0],
       [  0,   0,   0,   0,  30, 270,   0,   0,   0,   0],
       [  0,   0,   0,   0,  30, 270,   0,   0,   0,   0],
       [  0,   0,   0,   0,  30, 270,   0,   0,   0,   0],
       [  0,   0,   0,   0,  30, 270,   0,   0,   0,   0],
       [  0,   0,   0,   0,  30, 270,   0,   0,   0,   0],
       [  0,   0,   0,   0,  30, 270,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,  30, 270],
       [  0,   0,   0,   0,   0,   0,   0,   0,  30, 270],
       [  0,   0,   0,   0,   0,   0,   0,   0,  30, 270],
       [  0,   0,   0,   0,   0,   0,   0,   0,  30, 270],
       [  0,   0,   0,   0,   0,   0,   0,   0,  30, 270],
       [  0,   0,   0,   0,   0,   0,   0,   0,  30, 270],
       [  0,   0,   0,   0,   0,   0,   0,   0,  30, 270],
       [  0,   0,   0,   0,   0,   0,   0,   0,  30, 270],
       [  0,   0,   0,   0,  30, 270,   0,   0,   0,   0],
       [  0,   0,   0,   0,  30, 270,   0,   0,   0,   0],
       [  0,   0,   0,   0,  30, 270,   0,   0,   0,   0],
       [  0,   0,   0,   0,  30, 270,   0,   0,   0,   0],
       [  0,   0,   0,   0,  30, 270,   0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,  30, 270,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,  30, 270],
       [  0,   0,   0,   0,   0,   0,   0,   0,  30, 270],
       [  0,   0,   0,   0,   0,   0,   0,   0,  30, 270],
       [  0,   0,   0,   0,   0,   0,   0,   0,  30, 270]])

In [7]:
# save time_window as csv
np.savetxt('time_window111.csv', time_window, delimiter=',', fmt='%d')

In [6]:
# Specify the file path
file_path = "real-data.xlsx"

# Read the Excel file
excel_data = pd.ExcelFile(file_path)

# Dictionary to store each sheet as a DataFrame
dataframes = {}

# Loop through each sheet and save it as a DataFrame
for sheet_name in excel_data.sheet_names:
    dataframes[sheet_name] = pd.read_excel(file_path, sheet_name=sheet_name, header=0)

# Accessing the DataFrames
for sheet_name, df in dataframes.items():
    print(f"DataFrame for Sheet: {sheet_name}")
    print(df.head())  # Display the first few rows

DataFrame for Sheet: dose-nurse
   Event  Duration  RN  LVN  Shots  Zip Code
0      1        10   2    2     40     90304
1      2         6   2    1     20     90291
2      3        13   2    3     70     90033
3      4        12   1    3     80     90014
4      5        12   2    2     80     90012
DataFrame for Sheet: home-nurse
   Event  Duration  RN  LVN  HH       Area  Zip Code
0      1         7   2    2   3  La Puente     91744
1      2         4   1    2   2  La Puente     91744
2      3         5   3    3   2    Compton     90059
3      4         5   1    2   2        NaN     90021
4      5         5   2    1   2        NaN     90021
DataFrame for Sheet: RN
   RN First Name Residing City  Zip Code License
0   1      Josef     Hawthorne     90250      RN
1   2     Meydin      Mid-City     90016      RN
2   3    Zachary     Santa Ana     92701      RN
3   4     Angela      El Monte     91731      RN
4   5    Mishael      Glendale     91020      RN
DataFrame for Sheet: LVN
   LVN First Name Residing City  Zip Code License
0    1   Da-zhane     Inglewood     90301     LVN
1    2    Theresa      Monrovia     91016     LVN
2    3    Keishia        Carson     90745     LVN
3    4      Nancy  Bell Gardens     90201     LVN
4    5    Destiny       Ontario     91758     LVN

In [7]:
# Access a specific sheet's DataFrame
sheet1_df = dataframes["dose-nurse"]
sheet2_df = dataframes["home-nurse"]
sheet3_df = dataframes["RN"]
sheet4_df = dataframes["LVN"]


# Example: Perform operations on a specific DataFrame
sheet1_df.head()

   Event  Duration  RN  LVN  Shots  Zip Code
0      1        10   2    2     40     90304
1      2         6   2    1     20     90291
2      3        13   2    3     70     90033
3      4        12   1    3     80     90014
4      5        12   2    2     80     90012

In [50]:
# create an array to combine all zip codes from sheet1_df, sheet2_df, sheet3_df, sheet4_df
# zip_codes_1: Events and homes
zip_codes_1 = []
zip_codes_1.extend(sheet1_df["Zip Code"].tolist())
zip_codes_1.extend(sheet2_df["Zip Code"].tolist())
zip_codes_1.extend(sheet3_df["Zip Code"].tolist())
zip_codes_1.extend(sheet4_df["Zip Code"].tolist())
len(zip_codes_1)

119

In [51]:
# create an array to combine all zip codes from sheet1_df, sheet2_df
zip_codes_2 = []
zip_codes_2.extend(sheet1_df["Zip Code"].tolist())
zip_codes_2.extend(sheet2_df["Zip Code"].tolist())
zip_codes_2.append(90012)

In [52]:
len(zip_codes_2)

62

In [37]:
import googlemaps
from itertools import product

In [29]:
API_KEY = "AIzaSyBNAhYkNcbewgATX-Hh9093TL_cY9aErzQ"
gmaps = googlemaps.Client(key=API_KEY)

# Example: Get travel time between two locations
result = gmaps.distance_matrix(origins="90001", destinations="90002", mode="driving")
print(result)

{'destination_addresses': ['Watts, CA 90002, USA'], 'origin_addresses': ['Firestone Park, CA 90001, USA'], 'rows': [{'elements': [{'distance': {'text': '2.4 km', 'value': 2438}, 'duration': {'text': '6 mins', 'value': 332}, 'status': 'OK'}]}], 'status': 'OK'}

In [53]:
# turn all zip codes into strings
zip_codes_1 = [str(zip_code) for zip_code in zip_codes_1]
zip_codes_2 = [str(zip_code) for zip_code in zip_codes_2]
# zip_codes_2

In [54]:
# drop duplicate values in zip_codes_1 and zip_codes_2
zip_codes_3 = list(set(zip_codes_1))
zip_codes_4 = list(set(zip_codes_2))

In [55]:
len(zip_codes_3), len(zip_codes_4)

(74, 39)

In [ ]:
# Function to process a batch
def batch_distance_matrix(origins, destinations, mode="driving"):
    result_matrix = []
    for origin in origins:
        try:
            result = gmaps.distance_matrix(origins=[origin], destinations=destinations, mode=mode)
            distances = [
                element["duration"]["value"] / 60 if element["status"] == "OK" else None
                for element in result["rows"][0]["elements"]
            ]
            result_matrix.append(distances)
        except Exception as e:
            print(f"Error with origin {origin}: {e}")
            result_matrix.append([None] * len(destinations))
    return result_matrix

# Helper function to chunk lists
def chunk_list(input_list, chunk_size):
    for i in range(0, len(input_list), chunk_size):
        yield input_list[i:i + chunk_size]

# Break `zip_codes_1` and `zip_codes_2` into chunks of 25 or fewer
zip_chunks_1 = list(chunk_list(zip_codes_3, 25))
zip_chunks_2 = list(chunk_list(zip_codes_4, 25))

# Initialize the final DataFrame for storing results
travel_time_df = pd.DataFrame(index=zip_codes_3, columns=zip_codes_4)

# Process each chunk
for origins in zip_chunks_1:
    for destinations in zip_chunks_2:
        # Get the travel time matrix for the current chunk
        batch_matrix = batch_distance_matrix(origins, destinations, mode="driving")
        # Convert to DataFrame for easy integration
        batch_df = pd.DataFrame(batch_matrix, index=origins, columns=destinations)
        # Update the main DataFrame
        travel_time_df.update(batch_df)

# Save the travel time matrix to a CSV file (optional)
travel_time_df.to_csv("travel_time_matrix.csv")

# Display the first few rows of the DataFrame
print(travel_time_df.head())

           90731      90301      91733       93550      90003      91601  \
91020  50.083333  37.833333  31.633333   89.833333  29.866667  18.133333
90731        0.0      32.05      41.95  128.116667  27.983333       54.7
90301  33.816667        0.0  39.466667      106.25  19.066667      38.45
90010  42.633333      30.55       29.7       100.8  22.416667       21.9
91733  40.916667       36.1        0.0  114.566667      32.75      33.95

           90045      91352      91401      91410  ...      90014      91711  \
91020  41.816667  16.583333  25.016667  25.866667  ...  25.033333  51.166667
90731      34.05  61.683333  53.183333      49.65  ...  39.933333  78.816667
90301       10.3  46.116667  31.316667  27.783333  ...       30.5  76.216667
90010  28.533333      34.85  25.366667  26.316667  ...  18.466667  70.983333
91733       40.1  40.933333  41.233333       42.2  ...       22.7  47.883333

           91340      91744      90006      90602      90291      91605  \
91020  18.733333  37.483333      26.15  42.233333  41.783333  21.766667
90731  61.016667  53.466667      39.45       43.8  42.116667  56.816667
90301      39.15  50.483333       26.3       41.2      20.25  41.116667
90010  31.733333       41.2        7.6  42.616667  28.066667  22.983333
91733       45.5  19.533333  27.566667  20.933333  43.266667      38.85

           91361      91405
91020      51.55  28.283333
90731      78.55      52.05
90301  56.683333  30.183333
90010       52.0  28.733333
91733  67.883333       44.6

[5 rows x 39 columns]

In [47]:
# save the travel_time_df to a csv file
travel_time_df.to_csv("travel_time_matrix.csv")

In [49]:
travel_time_df.shape

(74, 39)

In [57]:
len(zip_codes_1), len(zip_codes_2)

(119, 62)

In [58]:
# Create an empty 119x62 DataFrame for the full matrix
full_matrix = pd.DataFrame(index=zip_codes_1, columns=zip_codes_2)

# Fill in the matrix with travel times from the unique travel_time_df
for i, origin in enumerate(zip_codes_1):
    for j, destination in enumerate(zip_codes_2):
        full_matrix.iloc[i, j] = travel_time_df.loc[origin, destination]

# Reset the index and columns for duplicates to maintain their original structure
full_matrix.index = zip_codes_1
full_matrix.columns = zip_codes_2

full_matrix.head()

,90304,90291,90033,90014,90012,91732,91401,90012,90033,90057,...,91711,91359,90731,91733,91410,90006,91340,93550,90017,90012
90304,0.0,19.75,26.55,27.033333,26.816667,38.533333,30.8,26.816667,26.55,28.983333,...,72.533333,50.466667,29.25,35.783333,27.266667,25.8,38.633333,105.733333,26.083333,26.816667
90291,24.383333,0.0,28.183333,28.333333,29.316667,44.883333,29.166667,29.316667,28.183333,30.733333,...,78.866667,48.816667,42.15,39.016667,25.633333,24.15,37.0,104.1,28.583333,29.316667
90033,25.15,29.916667,0.0,11.566667,9.216667,21.4,27.4,9.216667,0.0,17.416667,...,55.833333,48.2,35.783333,16.483333,28.233333,14.216667,32.033333,101.1,13.566667,9.216667
90014,24.65,29.216667,11.133333,0.0,10.35,27.516667,29.816667,10.35,11.133333,13.2,...,61.966667,50.733333,38.45,22.333333,30.766667,13.516667,36.183333,105.25,9.2,10.35
90012,22.45,27.933333,10.316667,11.2,0.0,23.1,24.566667,0.0,10.316667,8.883333,...,57.533333,45.5,36.233333,20.416667,25.533333,12.3,30.933333,100.016667,7.583333,0.0

In [64]:
# convert entries in full_matrix to numbers and round up the nearest integer
full_matrix = full_matrix.apply(pd.to_numeric, errors='coerce')
full_matrix = full_matrix.apply(np.ceil)
full_matrix.head()

,90304,90291,90033,90014,90012,91732,91401,90012,90033,90057,...,91711,91359,90731,91733,91410,90006,91340,93550,90017,90012
90304,0,20,27,27,27,39,31,27,27,29,...,73,50,29,36,27,26,39,106,26,27
90291,24,0,28,28,29,45,29,29,28,31,...,79,49,42,39,26,24,37,104,29,29
90033,25,30,0,12,9,21,27,9,0,17,...,56,48,36,16,28,14,32,101,14,9
90014,25,29,11,0,10,28,30,10,11,13,...,62,51,38,22,31,14,36,105,9,10
90012,22,28,10,11,0,23,25,0,10,9,...,58,46,36,20,26,12,31,100,8,0

In [65]:
# save the full_matrix to a csv file
full_matrix.to_csv("travel_time_matrix.csv")

We have created a travel distance matrix given real data from 9/30/2024 to 10/4/2024. 
The distance matrix is of shape $$ (|E| + |N|) \times (|E| + 1)$$
where $|E|$ is number of events, $|N|$ is the number of nurses (first RNs then LVNs), and $1$ accounts for the depot.

In [69]:
# create a new dataframe to combine 'Duration', 'RN', 'LVN' columns in sheet1_df and sheet2_df

# Columns to combine
cols = ['Duration', 'RN', 'LVN']

# Select the required columns from both DataFrames
req_df1 = sheet1_df[cols]
req_df2 = sheet2_df[cols]

# Combine the DataFrames using pd.concat
req_df = pd.concat([req_df1, req_df2], ignore_index=True)

# save the req_df to a csv file
req_df.to_csv("req_matrix.csv")

In [71]:
req_df.shape

(61, 3)

In [74]:
# save the first 61 columns and 61 rows of travel_time_matrix to a csv file
full_matrix.iloc[62:-2, :61].to_csv("travel_time_matrix_home.csv")

In [25]:
# read travel_time_matrix
travel_time_matrix = pd.read_csv("travel_time_matrix.csv", index_col=0)
travel_time_matrix.shape

(119, 62)

In [26]:
# get the last 58 rows of travel_time_matrix, take transpose, save to a csv file
travel_time_matrix.iloc[-58:, :].T.to_csv("travel_time_matrix_home.csv")

In [27]:
# get a column of travel_time_matrix with column name '90012', save to a csv file as a column
travel_time_matrix['90012'].to_csv("travel_time_matrix_depot.csv")

In [16]:
zip_codes_event = []
zip_codes_event.extend(sheet1_df["Zip Code"].tolist())
zip_codes_event.extend(sheet2_df["Zip Code"].tolist())

In [17]:
len(zip_codes_event)

61

In [ ]:
# for each zip code pair in zip_codes_event, get the travel time from full_matrix
# create a new matrix to store travel time
# Create an empty square matrix with zip_code_event as both rows and columns
travel_matrix_event = pd.DataFrame(
    np.zeros((len(zip_codes_event), len(zip_codes_event))), 
    index=zip_codes_event, 
    columns=zip_codes_event
)

# Fill in travel times using the unique_travel_time DataFrame
for i, origin in enumerate(zip_codes_event):
    for j, destination in enumerate(zip_codes_event):
        if origin in travel_time_matrix.index and destination in travel_time_matrix.columns:
            travel_matrix_event.iloc[i, j] = travel_time_matrix.loc[origin, destination]

In [22]:
travel_matrix_event.head()

,90304,90291,90033,90014,90012,91732,91401,90012,90033,90057,...,93534,91711,91359,90731,91733,91410,90006,91340,93550,90017
90304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90291,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
90012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
# save the travel_matrix_event to 'input_parameters_real.xlsx', sheet 'C_event'
# ignore index
travel_matrix_event.to_excel("input_parameters_real.xlsx", sheet_name="C_event", index=False)